@model CITOFacturacion.Models.Entities.FreightRequest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FreightRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Restrictions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restrictions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqClientRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqClientRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FreightRequestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
