@model CITOFacturacion.Models.Entities.SubDivision2ndLv

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubDivision2ndLv</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abbreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abbreviation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginCityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginCityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationCityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationCityId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubDivision2ndLvId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
